* {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  min-height: 100vh;
  height: 100%;
  width: 100%;

  &__container {
    width: inherit;
    height: inherit;

    display: flex;
    flex-direction: row;

    gap: 1rem;
  }
}

.side-bar {
  // border: solid black 1px;
  border-radius: 0.75rem;

  margin: 1rem;
  padding: 1rem;

  height: 500px;
  width: 250px;
}

.app-view {
  border: solid black 1px;

  margin: 1rem;

  height: 700px;
  width: 700px;

  display: flex;
  flex-direction: col;
  justify-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loading {
  width: 50px;
  margin: auto;
}

#pages {
  &-story {
    margin-bottom: 2rem;
  }
  &-packages {
    display: none;
  }
}

.dialogue {
  &__line {
    display: flex;
    > *:nth-child(odd) {
      width: 15%;
      padding: 0 1rem;
    }
    > *:nth-child(even) {
      width: 85%;
      padding: 0 1rem;
    }
  }
}